@font-face {
  font-family: "Noto_Sans_My";
  font-weight: 100;
  font-style: normal;
  font-display: swap;
  src: url("../fonts/NotoSansDisplay-Thin.woff2") format("woff2"), url("../fonts/NotoSansDisplay-Thin.woff") format("woff");
}
@font-face {
  font-family: "Noto_Sans_My";
  font-weight: 300;
  font-style: normal;
  font-display: swap;
  src: url("../fonts/NotoSansDisplay-Light.woff2") format("woff2"), url("../fonts/NotoSansDisplay-Light.woff") format("woff");
}
@font-face {
  font-family: "Noto_Sans_My";
  font-weight: 500;
  font-style: normal;
  font-display: swap;
  src: url("../fonts/NotoSansDisplay-Medium.woff2") format("woff2"), url("../fonts/NotoSansDisplay-Medium.woff") format("woff");
}
@font-face {
  font-family: "Noto_Sans_My";
  font-weight: 700;
  font-style: normal;
  font-display: swap;
  src: url("../fonts/NotoSansDisplay-Bold.woff2") format("woff2"), url("../fonts/NotoSansDisplay-Bold.woff") format("woff");
}
.dog {
  background-color: #F4DFC8;
  color: #462e25;
}
.dog__head {
  padding-top: 16px;
  text-align: center;
  font-size: 24px;
  font-weight: 700;
  color: #000000;
}
.dog__main {
  margin-top: 16px;
  display: flex;
  gap: 24px;
  justify-content: space-between;
  text-align: right;
}
.dog__main img {
  width: 70%;
  height: 100%;
}
.dog__main__info {
  display: flex;
  flex-direction: column;
  gap: 16px;
}
.dog__main__birthday {
  color: #000000;
  font-weight: 700;
}
.dog__main__heading {
  color: #000000;
  font-weight: 700;
}
.dog__main__owner {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}
.dog__pedigree {
  margin-top: 16px;
  padding-top: 16px;
  background-color: #F4EAE0;
}
.dog__pedigree__heading {
  text-align: center;
  font-size: 24px;
  font-weight: 700;
  color: #000000;
  padding-bottom: 8px;
}
.dog__pedigree__box {
  display: grid;
  align-items: stretch;
  gap: 8px;
  grid-template-columns: auto auto auto auto;
  grid-template-rows: repeat(16, 64px);
}
.dog__pedigree__item {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 64px;
  border: 1px dotted #462e25;
}
.dog__pedigree__item_1_50 {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 1;
  grid-row-end: 9;
  align-self: center;
}
.dog__pedigree__item_2_50 {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 9;
  grid-row-end: 17;
  align-self: center;
}
.dog__pedigree__item_1_25 {
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 1;
  grid-row-end: 5;
  align-self: center;
}
.dog__pedigree__item_2_25 {
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 5;
  grid-row-end: 9;
  align-self: center;
}
.dog__pedigree__item_3_25 {
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 9;
  grid-row-end: 13;
  align-self: center;
}
.dog__pedigree__item_4_25 {
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 13;
  grid-row-end: 17;
  align-self: center;
}
.dog__pedigree__item_1_12 {
  grid-column-start: 3;
  grid-column-end: 4;
  grid-row-start: 1;
  grid-row-end: 3;
  align-self: center;
}
.dog__pedigree__item_2_12 {
  grid-column-start: 3;
  grid-column-end: 4;
  grid-row-start: 3;
  grid-row-end: 5;
  align-self: center;
}
.dog__pedigree__item_3_12 {
  grid-column-start: 3;
  grid-column-end: 4;
  grid-row-start: 5;
  grid-row-end: 7;
  align-self: center;
}
.dog__pedigree__item_4_12 {
  grid-column-start: 3;
  grid-column-end: 4;
  grid-row-start: 7;
  grid-row-end: 9;
  align-self: center;
}
.dog__pedigree__item_5_12 {
  grid-column-start: 3;
  grid-column-end: 4;
  grid-row-start: 9;
  grid-row-end: 11;
  align-self: center;
}
.dog__pedigree__item_6_12 {
  grid-column-start: 3;
  grid-column-end: 4;
  grid-row-start: 11;
  grid-row-end: 13;
  align-self: center;
}
.dog__pedigree__item_7_12 {
  grid-column-start: 3;
  grid-column-end: 4;
  grid-row-start: 13;
  grid-row-end: 15;
  align-self: center;
}
.dog__pedigree__item_8_12 {
  grid-column-start: 3;
  grid-column-end: 4;
  grid-row-start: 15;
  grid-row-end: 17;
  align-self: center;
}
.dog__offspring {
  padding-top: 16px;
  padding-bottom: 16px;
}
.dog__offspring__heading {
  text-align: center;
  font-size: 24px;
  font-weight: 700;
  color: #000000;
  padding-bottom: 8px;
}
.dog__offspring__box {
  display: grid;
  flex-wrap: wrap;
  gap: 8px;
  grid-template-columns: auto auto auto;
}
.dog__offspring__item {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 64px;
  border: 1px dotted #462e25;
}
.dog__gallery {
  padding-top: 16px;
  padding-bottom: 16px;
}
.dog__gallery__heading {
  text-align: center;
  font-size: 24px;
  font-weight: 700;
  color: #000000;
  padding-bottom: 8px;
}
.dog__gallery__box {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 16px;
}
.dog__gallery__item {
  width: 30%;
}
.dog__gallery__item img {
  width: 100%;
}

.dogs {
  padding-top: 16px;
  padding-bottom: 16px;
}
.dogs_veterans {
  padding-top: 32px;
  border-top: 1px solid #F4EAE0;
}
.dogs__head {
  text-align: center;
  font-size: 28px;
  font-weight: 700;
  color: #000000;
  padding-bottom: 8px;
}
.dogs__gallery {
  display: flex;
  justify-content: center;
  gap: 32px;
  flex-wrap: wrap;
}
.dogs__item {
  display: flex;
  flex-direction: column;
  gap: 4px;
  width: 30%;
  text-align: right;
  font-size: 16px;
  font-weight: 700;
  color: #000000;
}
.dogs__item img {
  width: 100%;
}

.litters {
  padding-top: 16px;
  padding-bottom: 16px;
}
.litters__head {
  text-align: center;
  font-size: 28px;
  font-weight: 700;
  color: #000000;
  padding-bottom: 8px;
}
.litters__item__heading {
  text-align: center;
  font-size: 24px;
  font-weight: 700;
  color: #000000;
  padding-bottom: 8px;
}
.litters__item__birthday {
  color: initial;
  text-align: center;
}
.litters__gallery {
  display: flex;
  flex-wrap: wrap;
  gap: 64px;
  justify-content: center;
}
.litters__item {
  display: flex;
  flex-direction: column;
  width: 25%;
  background-color: #F4EAE0;
  padding: 8px;
}
.litters__item__heading {
  text-align: center;
  font-size: 24px;
  font-weight: 700;
  color: #000000;
  padding-bottom: 8px;
}
.litters__item__parents {
  padding-top: 16px;
  display: flex;
  flex-direction: column;
  gap: 8px;
}
.litters__item__parents img {
  width: 100%;
}
.litters__item__parent {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
.litters__item__parent__name {
  text-align: right;
}
.litters__item__puppies {
  padding-top: 16px;
  text-align: right;
  font-size: 16px;
  font-weight: 700;
  color: #000000;
  text-align: center;
}
.litters__item__gender {
  font-size: 16px;
  font-weight: 600;
  color: #000000;
}
.litters__item__pup {
  text-align: right;
}

.video {
  padding-top: 16px;
  padding-bottom: 16px;
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
  justify-content: center;
}
.video__item {
  width: 560px;
}
.video__item__heading {
  text-align: center;
  font-size: 24px;
  font-weight: 700;
  color: #000000;
  padding-bottom: 8px;
  height: 72px;
}
.video__item__text {
  text-align: justify;
}

* {
  padding: 0;
  margin: 0;
  font-family: "Noto_Sans_My", sans-serif;
}

html,
body,
div,
img,
a,
p,
hr,
table,
tr,
td,
h1,
h2,
h3,
h4,
h5,
h6,
input,
select,
textarea,
button {
  box-sizing: border-box;
  border: none;
  border-radius: 0;
  margin: 0;
  padding: 0;
  font-family: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  outline: none;
  vertical-align: top;
  transition: none;
  text-decoration: none;
}

a {
  color: inherit;
}

summary,
li {
  display: block;
}

summary::-webkit-details-marker,
li::-webkit-details-marker {
  display: none;
}

.center {
  padding-left: calc(50% - 720px);
  padding-right: calc(50% - 720px);
}

.header {
  background-color: #F4EAE0;
}
.header__images {
  display: flex;
  flex-direction: column;
}
.header__images_logo {
  padding: 8px calc((100% - 790px) / 2);
}
.header__menu {
  padding-top: 8px;
  padding-bottom: 8px;
  display: flex;
  justify-content: space-between;
  font-weight: 700;
  font-size: 15px;
  color: #462e25;
}
.header__menu__item a {
  padding-top: 4px;
  padding-bottom: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  border: 1px solid #281900;
  background-color: #F4DFC8;
  border-radius: 10px;
  width: 108px;
  cursor: pointer;
  transition: 0.3s;
}
.header__menu__item a:hover {
  color: #000000;
  background-color: #F4EAE0;
  transform: translateY(-4px);
}
.header__menu__item a:active {
  background-color: #000000;
  color: #FAF6F0;
}

.content {
  display: grid;
  grid-template-columns: 20% 50% 30%;
  background-color: #F4DFC8;
  height: 100px;
}

.footer {
  padding-top: 16px;
  padding-bottom: 16px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #000000;
}
.footer__text {
  color: #FAF6F0;
}
.footer__icons {
  display: flex;
  align-items: center;
  gap: 16px;
}
.footer__icons__item {
  width: 32px;
  transition: 0.3s;
}
.footer__icons__item:hover {
  transform: translateY(-4px);
}
.footer__icons__item path {
  fill: #FAF6F0;
  transition: 0.3s;
}
.footer__icons__item:hover path {
  fill: #F4EAE0;
}/*# sourceMappingURL=style.css.map */