@import 'vars';
@import 'mixins';
@import 'dog';
@import 'dogs';
@import 'litters';
@import 'video';

* {
    padding: 0;
    margin: 0;
    font-family: 'Noto Sans';
}

html,
body,
div,
img,
a,
p,
hr,
table,
tr,
td,
h1,
h2,
h3,
h4,
h5,
h6,
input,
select,
textarea,
button {
    box-sizing: border-box;
    border: none;
    border-radius: 0;
    margin: 0;
    padding: 0;
    font-family: inherit;
    font-size: inherit;
    font-style: inherit;
    font-weight: inherit;
    outline: none;
    vertical-align: top;
    transition: none;
    text-decoration: none;
}

summary,
li {
    display: block;
}

summary::-webkit-details-marker,
li::-webkit-details-marker {
    display: none;
}

.center {
    padding-left: calc(50% - $widthSite / 2);
    padding-right: calc(50% - $widthSite / 2);
}

.header {

    background-color: $slaveBackgroundColor;

    &__images {
        display: flex;
        flex-direction: column;

        &_logo {
            padding: 8px calc((100% - 790px)/2);
        }
    }

    &__menu {
        padding-top: 8px;
        padding-bottom: 8px;
        display: flex;
        justify-content: space-between;
        font-weight: 700;
        font-size: 15px;
        color: $mainText;

        &__item {
            padding-top: 4px;
            padding-bottom: 4px;
            display: flex;
            justify-content: center;
            align-items: center;
            box-sizing: border-box;
            border: 1px solid #281900;
            background-color: $mainBackgroundColor;
            border-radius: 10px;
            width: 108px;
            cursor: pointer;
            transition: 0.3s;

            &:hover {
                color: $footerBackground;
                background-color: $slaveBackgroundColor;
                transform: translateY(-4px);
            }

            &:active {
                background-color: $footerBackground;
                color: $slaveText;
            }
        }
    }
}

.content {
    display: grid;
    grid-template-columns: 20% 50% 30%;
    background-color: $mainBackgroundColor;
    height: 100px;
}

.footer {
    padding-top: 16px;
    padding-bottom: 16px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: $footerBackground;

    &__text {
        color: $slaveText;
    }

    &__icons {
        display: flex;
        align-items: center;
        gap: 16px;

        &__item {
            width: 32px;
            transition: 0.3s;

            &:hover {
                transform: translateY(-4px);
            }
        }

        &__item path {
            fill: $slaveText;
            transition: 0.3s;
        }

        &__item:hover path {
            fill: $slaveBackgroundColor;
        }
    }
}