@import 'vars';

* {
    padding: 0;
    margin: 0;
    font-family: 'Noto Sans';
}

html,
body,
div,
img,
a,
p,
hr,
table,
tr,
td,
h1,
h2,
h3,
h4,
h5,
h6,
input,
select,
textarea,
button {
    box-sizing: border-box;
    border: none;
    border-radius: 0;
    margin: 0;
    padding: 0;
    font-family: inherit;
    font-size: inherit;
    font-style: inherit;
    font-weight: inherit;
    outline: none;
    vertical-align: top;
    transition: none;
    text-decoration: none;
}

summary,
li {
    display: block;
}

summary::-webkit-details-marker,
li::-webkit-details-marker {
    display: none;
}

.center {
    padding-left: calc(50% - $widthSite / 2);
    padding-right: calc(50% - $widthSite / 2);
}

.header {

    background-color: $mainBackgroundColor;

    &__images {
        display: flex;
        flex-direction: column;

        &_logo {
            padding: 8px calc((100% - 790px)/2);
        }
    }

    &__menu {
        padding-top: 8px;
        padding-bottom: 8px;
        display: flex;
        justify-content: space-around;
        font-weight: 700;
        font-size: 15px;
        color: #00457C;
        background-color: $slaveBackgroundColor;

        &__item {
            cursor: pointer;
        }
    }
}

.footer {
    padding-top: 16px;
    padding-bottom: 16px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #2e2402;

    &__text {
        color: white;
    }

    &__icons {
        display: flex;
        align-items: center;
        gap: 16px;

        &__item {
            width: 32px;
            color: #00457C;
        }

        &__item path {
            fill: white;
        }
    }
}